.about-me{
    font-size: 150%;
    width: max-content;
    opacity: 70%;
    height: max-content;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-shadow: 1px 1px 2px black, 0 0 0.4em rgba(0, 0, 0, 0.646);
}
.home-container {
  height: 120vh;
  background-color: black;
  padding: 30px;
}
.home{
    display: flex;
    width: 100%;
    margin-bottom: 25%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    background-color: #ACAD94;
    height: 100%;
    background-image: url('./nature-dom-1.jpeg');
    background-position: 0px  10px center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100% auto;
}
    .timeline{
    right: 10px;
    position: static;
    writing-mode: vertical-rl; /* Set the writing mode to vertical right-to-left */
  text-orientation: upright;
}
.about-text, section h4{
    font-family: 'Merriweather';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end 1;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
#scroll-progress {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 6px;
    height: 80%;
    background-color: #ddd;
    z-index: 9999;
  }
  
  #scroll-progress-dot {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  #scroll-progress-dot.active {
    background-color: #f00;
  }
  