body {
  margin: 0;
  font-family: "Merriweather" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Mobile styles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
